
/* ============== sideNav#1 styling =============== */
.wrapper{
    display: block;
    background-color: rgb(88, 58, 58);
    width: 200px;
    height:100%;
    position:fixed;
    z-index:10;
}

.wrapper nav{
    color:white ;
    padding:  10px;
}

.wrapper nav .sidebar-datablock p{
    font-size: 12px;
}

/* field & wildcard list on sidenav */
#sidebar li{
    background-color: rgba(179, 172, 172, 0.438);
    font-size: 12px;
    padding: 3px 10px 3px 28px;
    cursor: grab;
    margin: 5px 0;
    border-radius: 3px;
}

#sidebar .trans-quant-attr{
    padding: 3px 10px;
}